
RewriteEngine On
#php_admin_value session.save_path "/home/tltsecure/apache2/htdocs/userData/sessionData"
#ShibRequestSetting requireSession true 
#require valid-user

# Check if Environment is set to "local"
RewriteCond %{ENV:ENVIRONMENT} ^local$
# If true, set the environment variables
RewriteRule ^ - [E=cn:test_cn,E=nickname:test_nickname,E=sn:test_sn,E=mail:michael.kawwa@stonybrook.edu]